@import "toastr";

.toast {
  background-color: #030303;
}

.toast-success {
  background-color: #009933;
}

.toast-error {
  background-color: #BD362F;
}

.toast-info {
  background-color: #2F96B4;
}

.toast-warning {
  background-color: #F89406;
}